/*div {
  border: 1px solid blue;
} */
html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}
.flex {
  display: flex;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.company {
  justify-content: space-between;
  position: relative;
  top: 1rem;
  color: white;
  background-color: cadetblue;
}
.logo {
  align-items: center;
}
.logo img {
  height: 1.5rem;
  width: auto;
  padding: 0 1rem 0 2rem;
}
.nav-desktop li, .nav-mobile li {
  padding: 1rem;
}
nav {
  padding-right: 2rem;
}
.nav-mobile {
  display: none;
}
.main {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  width: auto;
}
.headline {
  padding: 1.5rem 5rem;
  background-color: white;
  margin-right: -2rem;
  margin-top: 10rem;
}
.banner {
  display: flex;
  justify-content: flex-end;
}
.headline h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
}
.service-icon {
  align-items: center;
  justify-content: flex-start;
  height: 6rem;
}
.service-icon img {
  max-width: 4.5rem;
}
.services .flex {
  align-items: center;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 1.4;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}
.paper img {
  width: 3.5rem;
  height: auto;
}
.ruler img, .truck img {
  width: 5rem;
  height: auto;
}
.business-info .container {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  line-height: 1.4;
}
.information {
  width: 35%;
  margin: 0 2.5%;
}
.info-title {
  display: block;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
}
footer img {
  height: 1.5rem;
  width: auto;
  padding: 4rem 1rem 4rem 4rem;
}
footer .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0;
  background-color: azure;
}
@media only screen and (max-width: 960px) {
  .company {
    top: 0rem;
    position: static;
  }
  .main {
    height: 22rem;
  }
  .headline {
    padding: 0.75rem 4rem;
    background-color: white;
    margin-right: 2rem;
    margin-top: 5rem;
  }
  .headline h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
  }
  .main {
    background-position: -6rem;
  }
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: list-item;
  }
  .services .flex {
    flex-direction: column;
    margin: 3rem 0;
  }
  .item span {
    font-size: 0.77rem;
  }
  .item {
    margin: 0.77rem;
  }
  .banner {
    display: block;
    position: relative;
    top: 9rem;
  }
  .headline {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
  }
  .business-info .container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .information {
    font-size: 0.77rem;
    width: 100%;
    padding-bottom: 4rem;
  }
  .info-title {
    width: auto;
    min-width: 0;
    text-align: center;
  }
  .info-detail {
    padding: 0 1rem;
  }
  footer .container {
    width: 100%;
    justify-content: center;
  }
  footer span {
    display: none;
  }
  footer img {
    padding: 4rem 0;
  }
}
